<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624904224332-ag2cni79i049kqtdf8fe5iju4j0at6qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624904224332-ag2cni79i049kqtdf8fe5iju4j0at6qe</string>
	<key>API_KEY</key>
	<string>AIzaSyCvxoFVzRqq88OrLwk166wr0na7H1eu46c</string>
	<key>GCM_SENDER_ID</key>
	<string>624904224332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shohei.N.2019OrangeFesApp</string>
	<key>PROJECT_ID</key>
	<string>orangefesapp-4fe47</string>
	<key>STORAGE_BUCKET</key>
	<string>orangefesapp-4fe47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624904224332:ios:0cb0303a391574c055fee9</string>
	<key>DATABASE_URL</key>
	<string>https://orangefesapp-4fe47.firebaseio.com</string>
</dict>
</plist>